content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content__content {
  max-width: 984px;
  height: auto;
  margin: 10px;
  padding: 0 20px;
}

.content__subtitle {
  font-size: 54px;
  line-height: 58px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.content__paragraph {
  max-width: 738px;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  line-height: 34px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content__paragraph-author {
  display: flex;
  justify-content: flex-end;
  max-width: 738px;
  margin-top: 0;
  padding-top: 0;
}

.content__paragraph-text {
  margin-top: 32px;
  max-width: 722px;
  font-size: 16px;
  line-height: 25px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: auto;
  }
}

@media screen and (max-width: 544px) {
  .content__content {
    max-width: 100%;
    margin: 5px;
  }
  .content__subtitle {
    font-size: 32px;
    line-height: 35px;
  }

  .content__paragraph {
    font-size: 24px;
    line-height: 1.1;
  }

  .content__paragraph-text {
    font-size: 24px;
    line-height: 1.1;
  }
}
