.header {
  display: flex;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
}

.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__top-image {
  margin-top: 34px;
}

.header__top-text {
  font-weight: bold;
}

.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 984px;
}

.header__main-title {
  width: 70%;
  height: 200px;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
}

.header__main-subtitle {
  max-width: 70%;
  height: 72px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: normal;
}

.header__main-image {
  max-width: 984px;
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .header__main-title {
    font-size: 4.5rem;
    margin-bottom: auto;
  }

  .header__main-subtitle {
    font-size: 1.8rem;
    margin-top: auto;
  }

  .header__main-image {
    margin-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__top {
    max-width: 188px;
  }

  .header__top-text {
    font-size: 14px;
  }

  .header__main-title {
    font-size: 2.5rem;
    padding: 0;
    height: auto;
  }

  .header__main-subtitle {
    font-size: 1rem;
    height: auto;
    margin-top: 20px;
  }

  .header__main-image {
    margin-top: 20px;
  }
}
